[submodule "test-jetty"]
	path = test-jetty
	url = git://github.com/projectblacklight/blacklight-jetty.git
[submodule "solrmarc"]
	path = solrmarc
	url = git://github.com/solrmarc/stanford-solr-marc.git
